 
/*                      PARALLAX                      */
.parallax-container {
   /* Altura del contenedor */
  position: relative;
  overflow: hidden;
  background-color: #282c34;
}

.parallax-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background-color: #282c34;
}

 
 
 
.container{
  background-color: #282c34;
  
}

.footer{
 
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
}